.carousel-section {
    position: relative;
    margin-bottom: 70px;

    & > .contentWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .carousel-title {
        @include xl {
            font-size: 24px;
        }
        
        @include lg {
            font-size: 20px;
        }
        
        @include md {
            font-size: 18px;
        }
        
        @include sm {
            font-size: 16px;
        }
        
        color: white;
        font-weight: normal;
    }
}