@import "../../../mixins.scss";

.carousel-section {
    position: relative;
    margin-bottom: 70px;

    & > .contentWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .carousel-title {
        font-size: 14px;
        color: white;
        font-weight: normal;

        @include sm {
            font-size: 18px;
        }

        @include md {
            font-size: 24px;   
        }
    }
}